@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Sansita+Swashed:wght@600&family=Tangerine:wght@700&display=swap');
 *{
    margin: 0;
} 
:root{
    --primary-color: #FBBF24;
    --width-break: 600px;
}
body{
    font-family: 'Sansita Swashed', cursive;
}

.navigation{
  text-align: center;
  background-color: var(--primary-color);
  padding: 2rem;
  font-size: larger;
}
.textbox-alignment{
    display: block;
    padding: 0 3rem;
    margin-top: none;
}

.textBox-design{
    font-family: 'Sansita Swashed', cursive;
    font-size: larger;
    width: 90%;
    height: 20vh;
    border: 1px solid black;
    
}

/* Footer */
.footer{
    background-color:var(--primary-color);
    text-align: center;
    padding: 1rem;
    width: auto;
    display: block;
}

.footer .footer-header{
    font-size: larger;
    padding:  0.8rem;
    max-width: var(--width-break);
    margin: auto;
}

.footer .footer-text{
    max-width: var(--width-break);   
    display: block;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
}

/* Button */

.button{
background-color: var(--primary-color);
font-family: 'Sansita Swashed', cursive;
padding: 1rem 2rem;
margin: 1rem 2rem;
font-size: larger;
border: none;

}

.section-wh{
    background-color: white;
    padding: 17.5em;
}